*.cm*
*.o
*.a
*.annot
*~
_build
Makefile.config
*.depend
src/META
doc/tutorial/*.pdf
doc/api
src/jManifest.ml
tests/src/test_parser
tests/src/unparser
tests/.errors
src/ocaml
/tests/plugin/META.javalib
/tests/plugin/main
/.ocamlformat
