body{
    width:80%;
    margin: 0px auto;
    font-family: mono;
}
ol {
    padding : 5px;
}

ol.code {
    margin-left: 3em;
}

.instruction {
    display:inline-block;
    width: 10em;
}

div.field, div.method {
    margin: 0.5em 3%;
    padding: 2%;
    width: 90%;
    border: 1px solid black;
}
div.field {
    padding: 0.5em 2%
}
div.class {
    margin-bottom: 2em;
    margin-top: 2em;
    padding-bottom: 1em;
    width: 100%;
    border: 1px solid black;
}

.classname {
    font-size: 2em;
    padding: 1em;
}

.field_signature, .method_signature {
    display:inline-block;
}

ul.annot{
    vertical-align:top;
    margin-top: 0em;
    list-style-position: inside;
    list-style-type: none;
}
div.field > ul.annot, div.method_signature > ul.annot, ol.code ul.annot {
    display:inline-block;
    color: gray;
    margin-bottom: 0.5em;
}

div.class > ul.annot {
    color: sienna;
    margin-bottom: 2em;
}

li {
    line-height: 1.1em;
}

ul.clickable {
    list-style-type: square;
    vertical-align: top;
    margin:0;
    visibility: hidden;
    position: absolute;
    display: inline-block;
}
div.method_signature > ul.clickable {
    display: block;
}

span.parameter.clickable {
    color: darkred;
}

span.parameter.clickable:hover {
    background-color: lightgray;
    cursor: pointer;
}

span.methodname.clickable {
    color: Teal;
}

span.methodname.clickable:hover {
    background-color: lightgray;
    cursor: pointer;
}